.DS_Store
node_modules
.env
env
dist
__pycache__
*-error.log

# Test json/yaml files
*-test.json
*-test.yaml
*-test.yml

# VS Code files
.vscode/*

metlo-api-security-enterprise
ingestors/kubernetes/example_deployment.yaml
ingestors/python/metlo.egg-info
ingestors/python/.idea

ingestors/java/spring/.gradle/
ingestors/java/spring/.idea/
ingestors/java/spring/gradle.properties
ingestors/java/spring/target/

.meta/*
ingestors/govxlan/govxlan
ingestors/govxlan/metlo-pcap