.DS_Store
node_modules
.env
env
dist
__pycache__
*-error.log

# Test json/yaml files
*-test.json
*-test.yaml
*-test.yml

# VS Code files
.vscode/*

metlo-api-security-enterprise
ingestors/kubernetes/example_deployment.yaml
ingestors/python/metlo.egg-info
ingestors/python/.idea

ingestors/java/spring/.gradle/
ingestors/java/spring/.idea/
ingestors/java/spring/gradle.properties
ingestors/java/spring/target/

ingestors/burp suite/.gradle/
ingestors/burp suite/.idea/
ingestors/burp suite/gradle.properties
ingestors/burp suite/target/
ingestors/burp suite/build/

ingestors/java/binary-govxlan/target/
ingestors/java/binary-govxlan/src/main/resources/binaries/
ingestors/java/binary-govxlan/src/main/resources/shared_objects/
ingestors/java/binary-govxlan/src/test/
ingestors/java/binary-govxlan/.idea/

.meta/*
ingestors/govxlan/govxlan
testing/tmp_tests

cli/meta