[Unit]
Description=Metlo NodeJS ingestor application
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/etc/metlo-ingestor/ingestors/suricata/dist
ExecStart=%home/.nvm/versions/node/v17.9.1/bin/node /etc/metlo-ingestor/ingestors/suricata/dist/index.js -s /etc/suricata-logs/eve.sock -u %s

[Install]
WantedBy=multi-user.target
