[Unit]
Description=Metlo GoVXLAN Ingestor
After=network-online.target

[Service]
Restart=on-failure
RestartSec=2
ExecStart=/usr/local/bin/metlo-pcap

[Install]
WantedBy=multi-user.target
