[Unit]
Description=Metlo GoVXLAN Ingestor
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/metlo-vxlan

[Install]
WantedBy=multi-user.target